*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Outfit;
    src: url(../assets/font/Outfit/Outfit-VariableFont_wght.ttf);
}


body{
    min-height: 100vh;
    background: linear-gradient(180deg, #2D4F74 0%, #000 100%);
}

header{
    display: flex;
    padding: 0 80px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: #2d4f7409;
}
nav{
    width: auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    color: white;
    font-family: Outfit;
}
ul li{
    list-style: none;
}


menu-icon{
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    display: none;
}
menu-icon span{
    width: 28px;
    height: 3px;
    background-color: white;
}



/* responsive */ 

@media screen and (max-width:940px){

    nav ul li:nth-child(6){
        display: none;
    }

    menu-icon{
        display: flex;
    }
    menu-icon input{
        position: absolute;
        right: 82px;
        height: 25px;
        width: 25px;
        opacity: 0;
    }
    nav{
        display: none;
    }
    .respon-nav {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: linear-gradient(180deg, #2D4F74 0%, #000000e2 100%);
        border-radius: 0 0 15px 15px;
      }
      
    .respon-nav ul{
        flex-direction: column;
    }
    .respon-nav ul li{
        text-align: center;
    }

    menu-icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-evenly;
        cursor: pointer;
    }
    
    menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
    }
    
    
    
}